/* MAIN */
main {
    width: 100%;
    padding-top: 64px;
}

main h1 {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 600;
}

main .home-main {
    overflow: hidden;
}

main .home-main .inner {
    justify-content: space-between;
    align-items: center;
}

main .home-main img {
    height: 680px;
    margin: 70px 0;
}

main .home-main .btn {
    margin-top: 32px;
}

/* MAIN TOP */
main .home-main.beige {
    background-color: #FBF7F2;
}

main .home-main.beige h1 {
    font-size: 48px;
}

main .home-main.beige .home-main-des,
main .home-main.green .home-main-des {
    margin: 0 0 0 70px;
}

main .home-main.beige .home-main-des h1 {
    margin-bottom: 32px;
}

main .home-main.beige img {
    margin: 50px 0 0 ;
}

/* MAIN MARKET */
main .home-main.reverse .home-main-des {
    margin: 0 140px 0 0;
}

/* MAIN LIFE */
main .home-main.green {
    background-color: #e6f3e6;
}

main .home-main.green .home-main-des .life-des {
    display: flex;
}

main .home-main.green img {
    margin-right: 100px;
}

main .home-main.green .home-main-des .life-des .life-des-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 134px;
    height: 140px;
    margin: 56px 40px 0 0;
}

main .home-main.green .home-main-des .life-des .life-des-item img {
    width: 56px;
    height: 56px;
    margin: 0 40px 0 0;
}

main .home-main.green .home-main-des .life-des .life-des-item h2 {
    font-size: 14px;
    font-weight: 600;
}

main .home-main.green .home-main-des .life-des .life-des-item p {
    font-size: 13px;
}